
@font-face {
    font-family: "MarioKart";
    font-weight: 200;
    src: url("../fonts/mario_kart_f2.ttf") format("ttf");
}

canvas {
    position:fixed;
    top:0;
    left:0;
}

html {
    font-family: "MarioKart",Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 20px;
}

body {
    overflow: hidden; /* Hide scrollbars */
}

.c-hud{
    position:fixed;
    top:0;
    left:0;
}

.c-hud-data {
    position:fixed;
    height: 0px;
    top:32px;
    width:300px;
    margin-left: auto;
    margin-right:40px;
}
.c-hud-txt .c-hud-data{
    position:relative;
    color:aquamarine;
    text-align: right;
}